@font-face {
    font-family: 'Libre Bodoni';
    src: url('../public/fonts/LibreBodoni-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'David Libre';
    src: url('../public/fonts/DavidLibre-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
}

.log-in-page, .sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.log-in-container, .sign-up-container {
    width: 600px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #000;
    background: #9E9F9A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-header, .sign-up-header {
    color: #000;
    text-align: center;
    font-family: Libre Bodoni;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-fields input {
    margin-top: 40px;
    width: 470px;
    height: 60px;
    border-radius: 75px;
    background: #FFF;
    border: 0px;
    padding-left: 20px;
    font-size: 25px;
    font-family: Libre Bodoni;
}

.input-fields input::placeholder {
    color: #000;
    font-family: Libre Bodoni;
    font-size: 25px;
    font-style: normal;
    line-height: normal;
}

.error-message {
    color: #C30000;
    font-family: David Libre;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    margin-top: 10px;
    margin-left: 20px;
}

.log-in-button, .sign-up-button {
    width: 470px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 33px;
    background: #D9D9D9;
    border-width: 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: Libre Bodoni;
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.create-account, .have-account {
    margin-top: 10px;
    color: #000;
    text-align: center;
    font-family: David Libre;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.back-button {
    background-image: url('../public/pngwing.com.png');
    width: 100px;
    height: 100px;
    background-size: cover;
    position: absolute;
    margin-left: 20px;
}