@font-face {
  font-family: 'Libre Bodoni';
  src: url('../public/fonts/LibreBodoni-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'David Libre';
  src: url('../public/fonts/DavidLibre-Regular.ttf') , lightgray 50% / cover no-repeat, #FFF;
}
* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/2301.w058.n003.153A.p1.153.jpg') ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
section {
  width: 100%;
flex-shrink: 0;
}
.separator {
  height: 5px;
  width: 642.195px;
  border-radius: 40px;
  background: #000;
}


.header {
  position: fixed;
  background: #9E9F9A;
height: 99px;
display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.headerLogo {
  padding-left: 50px;
  color: #000;
font-family: 'Libre Bodoni';
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.headerProfile {
  width: 55px;
height: 55px;
flex-shrink: 0;
  border-radius: 89px;
background: #D9D9D9;
cursor:pointer;
margin-right: 50px;
}
.headerSearchBar {
  color: #000;
font-family: 'Libre Bodoni';
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 20px;
}



.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landingHero {
  padding-top: 100px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 775px;
height: 315px;
margin-bottom: 76px;

}
.landingHero h1 {
  color: #000;

text-align: center;
font-family: Libre Bodoni;
font-size: 79px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.landingSubhero {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}
.landingSubhero h2 {
  color: #000;

font-family: Libre Bodoni;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.landingSubhero div {
  border-radius: 40px;
background: #000;
width: 4px;
height: 148px;
margin-left: 57px;
margin-right: 57px;

}
.landingSubhero h3 {
  width: 406px;
  color: #000;
  text-align: justify;
font-family: David Libre;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.landingRecipes {
  display:flex;
  justify-content: center;
  flex-direction: column;
  

}
.landingRecipes h1 {
  color: #000;

text-align: center;
font-family: Libre Bodoni;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#landingRecipesTitle {
  margin-bottom: 7px;
}
.landingRecipesOther {
  display: flex;
height: 66px;
align-items: center;
justify-content: center;
}



.recipeCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 642.195px;
}
.recipeTitle {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: Libre Bodoni;
  margin-top: 8px;
  margin-bottom: 27px;
}
.recipeTitle h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}
.recipeTitleTags {
  width: 230px;
  display: flex;
  justify-content: space-between;
}
.recipeTitleTags h3 {
  text-align: right;
font-size: 27px;
font-style: italic;
font-weight: 400;
line-height: normal;
letter-spacing: 0.54px;
display: flex;
align-items: center;
}
.recipeTitleTags div {
  width: 37px;
  height: 40px;
  background: url('https://www.themealdb.com/images/icons/flags/big/64/jp.png'), lightgray 0% / cover no-repeat;
  background-size: cover;

}
.recipeBody {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.recipeBodyImage {
  width: 208px;
height: 208px;
border-radius: 30px;
background: url('https://www.themealdb.com/images/media/meals/kos9av1699014767.jpg'), lightgray 50% / cover no-repeat;
background-size: cover;
}
.rbSpace {
  width: 43px;
}
.recipeBody p {
  color: #000;
font-family: Libre Bodoni;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 128.75%;
letter-spacing: 0.48px;
}
.recipeBody p span {
  color: #000;
font-family: Libre Bodoni;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 128.75%; /* 38.625px */
letter-spacing: 0.6px;
}