@font-face {
  font-family: 'Libre Bodoni';
  src: url('../public/fonts/LibreBodoni-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'David Libre';
  src: url('../public/fonts/DavidLibre-Regular.ttf') , lightgray 50% / cover no-repeat, #FFF;
}
* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/2301.w058.n003.153A.p1.153.jpg') ;
  background-attachment: fixed;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
section {
  width: 100%;
flex-shrink: 0;
}
.separator {
  height: 5px;
  width: 642.195px;
  border-radius: 40px;
  background: #000;
}


.header {
  position: fixed;
  background: #9E9F9A;
height: 99px;
display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 99;
}
.headerLogo {
  padding-left: 50px;
  color: #000;
font-family: 'Libre Bodoni';
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.headerProfile {
  width: 55px;
height: 55px;
flex-shrink: 0;
  border-radius: 89px;
background: #D9D9D9;
cursor:pointer;
margin-right: 50px;
}
.headerSearchBar {
  color: #000;
font-family: 'Libre Bodoni';
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 20px;
}



.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
transform: scale(75%);
  z-index: 0;
}
.landingHero {
  padding-top: 220px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 775px;
height: 315px;
margin-bottom: 206px;

}
.landingHero h1 {
  color: #000;

text-align: center;
font-family: Libre Bodoni;
font-size: 99px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.landingSubhero {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}
.landingSubhero h2 {
  color: #000;

font-family: Libre Bodoni;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.landingSubhero div {
  border-radius: 40px;
background: #000;
width: 4px;
height: 148px;
margin-left: 57px;
margin-right: 57px;

}
.landingSubhero h3 {
  width: 406px;
  color: #000;
  text-align: justify;
font-family: David Libre;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}




.landingRecipes {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 80px;

}
.landingRecipes h1 {
  color: #000;

text-align: center;
font-family: Libre Bodoni;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#landingRecipesTitle {
  margin-bottom: 7px;
}
.landingRecipesOther {
  display: flex;
height: 66px;
align-items: center;
justify-content: center;
}



.recipeCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 642.195px;
}
.recipeTitle {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: Libre Bodoni;
  margin-top: 8px;
  margin-bottom: 27px;
}
.recipeTitle h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  letter-spacing: -1px;

}
.recipeTitleTags {
  display: flex;
  justify-content: right;
  gap: 15px;
}
.recipeTitleTags h3 {
  text-align: right;
font-size: 23px;
font-style: italic;
font-weight: 400;
line-height: normal;
letter-spacing: 0.54px;
display: flex;
align-items: center;
}
.recipeTitleTags div {
  width: 37px;
  height: 40px;
  background: url('https://www.themealdb.com/images/icons/flags/big/64/jp.png'), lightgray 0% / cover no-repeat;
  background-size: cover;

}
.recipeBody {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.recipeBodyImage {
  min-width: 208px;
height: 208px;
border-radius: 30px;
background:  lightgray 100% / cover no-repeat;
background-size: cover;
}
.rbSpace {
  min-width: 43px;
}
.recipeBody p {
  color: #000;
font-family: Libre Bodoni;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 128.75%;
letter-spacing: 0.48px;
overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
.recipeBody p span {
  color: #000;
font-family: Libre Bodoni;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 128.75%; /* 38.625px */
letter-spacing: 0.6px;
}

.catalogFlex {
transform: scale(70%) translateY(-980px);
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 100px;
}
.catalog h1 {
  padding-top: 150px;
  color: #000;
font-family: Libre Bodoni;
font-size: 40px;
font-style: normal;
font-weight: 700;
display: flex;
justify-content: space-between;
width: 600px;
padding-left: 117px;
margin-left: auto;
margin-right: auto;
cursor: pointer;
}

.log-in-page, .sign-up-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.log-in-container, .sign-up-container {
  width: 600px;
  height: 700px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #000;
  background: #9E9F9A;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-header, .sign-up-header {
  color: #000;
  text-align: center;
  font-family: Libre Bodoni;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-fields input {
  margin-top: 40px;
  width: 470px;
  height: 60px;
  border-radius: 75px;
  background: #FFF;
  border: 0px;
  padding-left: 20px;
  font-size: 25px;
  font-family: Libre Bodoni;
}

.input-fields input::placeholder {
  color: #000;
  font-family: Libre Bodoni;
  font-size: 25px;
  font-style: normal;
  line-height: normal;
}

.error-message {
  color: #C30000;
  font-family: David Libre;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
  margin-top: 10px;
  margin-left: 20px;
}

.log-in-button, .sign-up-button {
  width: 470px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 33px;
  background: #D9D9D9;
  border-width: 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: Libre Bodoni;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.create-account, .have-account {
  margin-top: 10px;
  color: #000;
  text-align: center;
  font-family: David Libre;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.back-button {
  background-image: url('../public/pngwing.com.png');
  width: 100px;
  height: 100px;
  background-size: cover;
  position: absolute;
  margin-left: 20px;
}

.ingredientCell {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 520px;
  margin: 0 auto;
  margin-top: 20px;
}

.ingredient1, .ingredient2, .ingredient3 {
  color: #000;
  text-align: center;
  font-family: Libre Bodoni;
  font-size: 14px;
  font-style: normal;
  width:140px;
}

.ingredientImage1, .ingredientImage2, .ingredientImage3 {
  background: url('https://www.themealdb.com/images/ingredients/Chicken-Small.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 140px;
  margin-bottom: 10px;
}

.recipeImage {
  background: url('https://www.themealdb.com/images/media/meals/kos9av1699014767.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 520px;
  margin: 0 auto;
  border-radius: 12px;
  margin-top: 50px;
}

.recipe {
  padding-top: 150px;
}

.recipeHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipePageTitle {
  color: #000;
  text-align: center;
  font-family: Libre Bodoni;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}

.recipeSubtitle {
  display: flex; 
  align-items: center;
  color: #000;
  text-align: right;
  font-family: 'Libre Bodoni';
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.62px;
  margin-left: 300px; 
}

.flag {
  width: 37px;
  height: 40px;
  background: url('https://www.themealdb.com/images/icons/flags/big/64/jp.png'), lightgray 0% / cover no-repeat;
  background-size: cover;
  margin-left: 10px;
}

.ingredientsTitle {
  color: #000;
  font-family: Libre Bodoni;
  font-size: 30px;
  letter-spacing: 0.8px;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.instuctionsTitle {
  color: #000;
  font-family: Libre Bodoni;
  font-size: 30px;
  letter-spacing: 0.8px;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.instructionsText {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-family: David Libre;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0.54px;
  line-height: 128.75%;
  letter-spacing: 0.54px;
  margin-top: 10px;
  text-align: justify;
  margin-bottom: 50px;
}

.otherRecipes {
  transform: scale(70%) translateY(-1650px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: Libre Bodoni;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}